*{
    margin: 0%;
    padding: 0%;
}
*{
    margin: 0%;
}
.hd1{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 40px;
}
.hd1p1{
    /* font-size: ; */
    padding-left: 60px;
    padding-top: 10px;
}
.hd1p2{
    font-size: 25px;
    padding-right: 60px;
    padding-top: 8px;
}
.hd2{
    display: flex;
    justify-content: space-between;
    /* background-color: #FDAAAA; */
    background-color: #FFD5D5;
    color: #4a4849;
    width: 100%;
    /* height: ; */
}
.hi{
    width: 70px;
    margin-left: 80px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 3px;
}
.hnav{
    padding-right: 60px;
    padding-top: 24px;
}
.fa-cart-arrow-down{
    font-size: 22px;
}
.fa-magnifying-glass{
    font-size: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropbtn {
    color: #fff;
}
.dropbtn {
  background-color: #FFD5D5;
  color: #4a4849;
  font-weight: 550;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
main{
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
}
.s1{
    display: flex;
}
.s1p1{
    margin-top: 110px;
    font-size: 25px;
    color: #4a4849;
    border-bottom: 3px solid #4a4849;
    padding-bottom: 10px;
    width: 290px;
    font-weight: 550;
}
.s1p2{
    font-size: 20px;
    margin-top: 28px;
    color: #4a4849;
}
.s1i{
    margin-top: 40px;
    width: 500px;
    padding-left: 60px;
}
.s2p1{
    text-align: center;
    font-size: 25px;
    font-weight: 550;
    color: #4a4849;
    border-bottom: 3px solid #4a4849;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-left: 456px;
    margin-right: 456px;
}
.s2p2{
    font-size: 20px;
    margin-top: 28px;
    color: #4a4849;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}
.s3{
    display: flex;
}
.s3i{
    margin-top: 60px;
    width: 500px;
    padding-left: 10px;
}
.s3d2{
    margin-left: 40px;
}
.s3p1{
    margin-top: 100px;
    font-size: 25px;
    color: #4a4849;
    border-bottom: 3px solid #4a4849;
    padding-bottom: 10px;
    width: 180px;
    font-weight: 550;
}
.s3p2{
    font-size: 20px;
    margin-top: 28px;
    color: #4a4849;
}
.s4p1{
    text-align: center;
    font-size: 25px;
    font-weight: 550;
    color: #4a4849;
    border-bottom: 3px solid #4a4849;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-left: 479px;
    margin-right: 479px;
}
.s4p2{
    font-size: 20px;
    margin-top: 28px;
    color: #4a4849;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}
.s5{
    display: flex;
}
.s5p1{
    margin-top: 110px;
    font-size: 25px;
    color: #4a4849;
    border-bottom: 3px solid #4a4849;
    padding-bottom: 10px;
    width: 230px;
    font-weight: 550;
}
.s5p2{
    font-size: 20px;
    margin-top: 28px;
    color: #4a4849;
}
.s5i{
    margin-top: 60px;
    width: 500px;
    padding-left: 60px;
    padding-bottom: 50px;
}
.fd1{
    display: flex;
    /* justify-content: space-evenly; */
    background-color: #FFD5D5;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}
.fs{
    font-weight: 900;
}
.fs1p{
    width: 280px;
    font-size: 19px;
    color: #4a4849;
    line-height: 1.4;
}
.fd1h{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 550;
}
.fs2t{
    list-style-type: none;
}
.fnav{
    text-decoration: none;
    color: #4a4849;
    line-height: 2;
    font-size: 19px;
}
.fnav:hover{
    color: #fff;
}
.fs3{
    padding-left: 90px;
}
.fs3l1{
    font-size: 19px;
    color: #4a4849;
}
.fs3l2{
    font-size: 19px;
    color: #4a4849;
}
.fs3i{
    font-size: 19px;
    height: 30px;
    width: 260px;
}
.fs3b{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000;
    cursor: pointer;
}
.fs3b:hover{
    background-color: #4a4849;
    border: 1px solid #4a4849;

}
.fs4{
    padding-left: 50px;
}
.fd2{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #000;
    color: #f1f1f1;
    font-size: 14px;
}
.fnav2{
    text-decoration: none;
    color: #f1f1f1;
}
.fnav2:hover{
    color: #FFD5D5;
}