*{
    margin: 0%;
}
.hd1{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 40px;
}
.hd1p1{
    /* font-size: ; */
    padding-left: 60px;
    padding-top: 10px;
}
.hd1p2{
    font-size: 25px;
    padding-right: 60px;
    padding-top: 8px;
}
.hd2{
    display: flex;
    justify-content: space-between;
    /* background-color: #FDAAAA; */
    background-color: #FFD5D5;
    color: #4a4849;
    width: 100%;
    /* height: ; */
}
.hi{
    width: 70px;
    margin-left: 80px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 3px;
}
.hnav{
    padding-right: 60px;
    padding-top: 24px;
}
.fa-cart-arrow-down{
    font-size: 22px;
}
.fa-magnifying-glass{
    font-size: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropbtn {
    color: #fff;
}
.dropbtn {
  background-color: #FFD5D5;
  color: #4a4849;
  font-weight: 550;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.s1{
    margin-top: 4%;
    display: flex;
}
.s1d1{
    width: 40%;
    margin-left: 5%;
}
.mainimage{
    
    width: 450px;
    height: 500px;
}
.s1d2{
    width: 48%;
    margin-right: 7%;
}
.s1p1{
    font-size: 25px;
    color: #4a4849;
    font-family: inherit;
    font-weight: 600;
}
.s1p2{
    font-size: 30px;
    color: #4a4849;
    font-family: inherit;
    font-weight: 600;
}
.s1p3{
    font-size: 19px;
    color: #4a4849;
}
.s1p4{
    font-size: 19px;
    color: #77a464;
    font-family: inherit;
    font-weight: 600;
    padding-top: 5px;
}
.s1b1{
    background-color: lightcoral;
    height: 40px;
    width: 150px;
    border: 1px solid lightcoral;
}
.s1a1{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.s1b2{
    background-color: #4a4849;
    height: 40px;
    width: 150px;
    border: 1px solid #4a4849
}
.s1a2{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.s5{
    margin-left: 5%;
    margin-left: 5%;
    width: 90%;
}
.s5p1{
    text-align: center;
    font-size: 20px;
    color: #4a4849;
    font-weight: 550;
}
.s5p2{
    font-size: 18px;
    font-weight: 550;
    color: #4a4849;
}
.s5p{
    font-size: 18px;
    color: #4a4849;
}
.s3{
    margin-left: 5%;
    margin-left: 5%;
    width: 90%;
}
.s3d{
    display: flex;
    justify-content: center;
}
.s3s{
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.s3s:hover{
    color: #FDAAAA;
    /* background-color: #FDAAAA; */
}
.s3i{
    color: #fff;
    /* background-color: #FDAAAA; */
    background-color: #333;
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.s3i:hover{
    background-color: #FDAAAA;
}
.s3p{
    margin-bottom: 20px;
    color: #333;
    text-decoration: none;
}
.s3p:hover{
    color: #FDAAAA;
}
.s4{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.s4p{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #4a4849;
    font-weight: 550;
}
.s2{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-left: 3.7%;
    margin-right: 2%;
}
.s2i{
    width: 270px;
    height: 270px;
}
.s2a2{
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #a4a2a3;
}
.s2a2:hover{
    /* color: #FFD5D5; */
    color: #FDAAAA;
}
.s2p1{
    padding-top: 15px;
}
.s2a3{
    color: #4a4849;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
}
.s2a3:hover{
    color: #FDAAAA;
}
.s2p3{
    color: #000;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.s2s:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.fd1{
    display: flex;
    /* justify-content: space-evenly; */
    background-color: #FFD5D5;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}
.fs{
    font-weight: 900;
}
.fs1p{
    width: 280px;
    font-size: 19px;
    color: #4a4849;
    line-height: 1.4;
}
.fd1h{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 550;
}
.fs2t{
    list-style-type: none;
}
.fnav{
    text-decoration: none;
    color: #4a4849;
    line-height: 2;
    font-size: 19px;
}
.fnav:hover{
    color: #fff;
}
.fs3{
    padding-left: 90px;
}
.fs3l1{
    font-size: 19px;
    color: #4a4849;
}
.fs3l2{
    font-size: 19px;
    color: #4a4849;
}
.fs3i{
    font-size: 19px;
    height: 30px;
    width: 260px;
}
.fs3b{
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000;
    cursor: pointer;
}
.fs3b:hover{
    background-color: #4a4849;
    border: 1px solid #4a4849;

}
.fs4{
    padding-left: 50px;
}
.fd2{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #000;
    color: #f1f1f1;
    font-size: 14px;
}
.fnav2{
    text-decoration: none;
    color: #f1f1f1;
}
.fnav2:hover{
    color: #FFD5D5;
}

